#Database
POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB_USER=postgres
POSTGRES_DB_PASSWORD=postgres
POSTGRES_DB_DATABASE=usersdb
POSTGRES_DB_SYNC=true

PORT_SERVER=3000

#API
DRAGONBALL_API_URL='https://dragonball-api.com/api/characters'